body {
 background-color: #49567A;
 padding: 18px 36px;
}
h1 {
  color: white;
  font-family: 	"ff-speak-web";
  font-size: 1.7em;
  font-weight: normal;
  line-height: .1em;
}
p {
  color: #000004;
  font-family: 	"ff-speak-web";
  font-size: 1.2em;
  line-height: 0.15em;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
a:link {
  color: #000004;
  text-decoration: none;
}
.tag {
  font-size: 1.1em;
  color: white;
  line-height: 1em;
  opacity: .5;
  padding-bottom: 1em;
}
